*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bsimage{
    width: 70px;
    height: 45px;
    
}
.bracketsimg{
    width: 120px;
    height: 85px;
    
}
.letterspace{
    letter-spacing: 3.5px;
}
.bottomlogo{
    width: 130px;
    height: 40px;
}
.navicons{
    width: 20px;
    height: 20px;
}